.container {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 10px rgb(150, 150, 150);
}

.box {
    background-color: antiquewhite;
}

.boxrow {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex: 0, 0, auto;
}

body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
}

html{
    height: 100%;
}
